<div class="list_show">
  <div class="page__title">
    <h2> Your List </h2>
  </div>


  <div class="container paper glow" id="list">
    
    <div class="list_title">
      <h3><%= @list.title %></h3>
    </div>
    <div class="delete_list"><%= button_to "Delete List", delete_list_path, method: "delete", class: "delete_button", params: {list_id: @list.id}%></div>
    
    <div id="new_list_item_form">
      <%= form_for @list_item, options = {url: '/listItems', method: 'post'} do |f|%>
        <%= f.text_field :content %>
        <%= f.hidden_field :list_id, value: params[:list_id] %>
        <%= f.submit "Add" %>
      <% end %>
    </div>

        <div class= "items">
          <% if @list.list_items.present? %>
            <% @list.sorted_items.each do |list_item|%>
              <% if list_item.complete %>
                <div class= "complete_row">
                  <div class= "complete_modify">
                    <%= button_to "âœ“", complete_item_path(list_item), method:'patch', class: "complete"%>
                  </div>
                  <div class= "complete_content">
                    <%= list_item.content %>
                  </div>
                  <div class= "delete_button">
                    <%= button_to "ðŸ—‘ï¸Ž", delete_item_path(list_item), method:'delete'%>
                  </div>
                </div>
              <% else %>
                <div class= "incomplete_row">
                  <div class= "incomplete_modify">
                    <%= button_to "â˜", complete_item_path(list_item), method:'patch', class: "incomplete"%>
                  </div>
                  <div class= "incomplete_content">
                    <%= list_item.content %>
                  </div>
                  <div class= "delete_button">
                    <%= button_to "ðŸ—‘ï¸Ž", delete_item_path(list_item), method:'delete'%>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <div></div>
            <div id="no_list_items"> 
              <li>No Items to Display Yet</li>
            </div>
            <div></div>
          <% end %>
    </div>
  </div>
</div>

