
<div class="photo_show">

  <div id="edit_photo">
    <%= form_for @photo do |f| %>
    <div id="update_photo_button">
      <%= f.submit %>
    </div>
    <div id="title">
      <%= f.text_field :title, placeholder: "Add Title", class:"photo_title"%>
    </div>
    <div id="description">
      <%= f.text_area :description, placeholder: "What's happening here? Tell us about it!" %>
    </div>
    
    <div id="photo_container" class="glow">
      <%= image_tag(url_for(@photo.attachment), class: "image_resize_large") %>
    </div>


    <% end %>

    <div id="delete_photo">
        <%= button_to "Delete Photo", photo_path(@family, @photo.id), params: {photo_id: @photo.id}, method: "delete", class: "delete_button"  %>
    </div>
    

      
  </div>

  
      


 


</div>



