<!DOCTYPE html>
<html>
  <head>
    <title>Family Organizerr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div>
    <div class="snow glow"></div> 

    <% if logged_in? %>
      <header id="main" class="glow">
        <%= button_to "Family Organizer", root_path, method: "get", id: "home" %>
        <p id="user"><%= "Hi, #{current_user.first_name.downcase.capitalize}!" %></p>
        <%= render "layouts/navbar" %>
      </header>
      <% else %>
          <div class= "welcome_banner glow">
            <h1 class="welcome"> Welcome to Family Organizer </h1>
          </div>
    <%end%>
    <div id="content">
      <%= yield %>
    </div>
  </body> 
</html>
